/* ==========================================================================
Color variables
========================================================================== */

$white: #fff;
$smoke-white: #fcfcfc;
$grey-white: #f2f2f2;

$primary: #AD3DA4;
$secondary: #AD3DA4;
$accent: #AD3DA4;

$fade-grey: #AD3DA4;
$light-grey: #EFEFEF;
$title-grey: #A9A9A9;
$blue-grey: #000;
$muted-grey: #999;
$light-blue-grey: #999;
$medium-grey: #666;
$basaltic-grey: #878787;
$purple: #AD3DA4;
$mint: #AD3DA4;
$bloody: #AD3DA4;
$pinky: #AD3DA4;
$frost: #AD3DA4;
$placeholder: #cecece;
$dark-grey: #333;
$border-grey: #ccc;
$muted-grey: #999;
$section-grey: #fbfbfb;